R.generated.swift
Podfile.lock
Pods
NewsFeed.xcworkspace/xcuserdata
NewsFeed.xcodeproj/xcuserdata
lodingImage.xcodeproj/xcuserdata/smallkot.xcuserdatad/xcschemes/xcschememanagement.plist
lodingImage.xcworkspace/xcuserdata/smallkot.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
